
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Poppins", sans-serif;
}

.main-width {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.active {
  color: #222831;
  background: #E3CAA5;
}